<a href="https://colab.research.google.com/github/kc2409/cl1/blob/main/Copy_of_Answer_Evaluator_without_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
num_ques = 12 # for Classes 5,8,9,10,9(BKBV),10(BKBV)
# num_ques = 15 # for Class 6,7,5(BKBV),6(BKBV),7(BKBV),8(BKBV)

# ques_no_just = [3,5,7,8,9,10,11,12] # for BKBV_Class_5
# ques_no_just = [3,5,9,10,15] # for BKBV_Class_6
# ques_no_just = [3,7,13,14,15] # for BKBV_Class_7
# ques_no_just = [7,13,14,15] # for BKBV_Class_8
ques_no_just = [1,4,9,10,11] # for BKBV_Class_9
# ques_no_just = [1,9,11,12] # for BKBV_Class_10

# ques_no_just = [3,11,12] # for Class_10
# ques_no_just = [7,6,5,2] # for Class_9
# ques_no_just = [5,6,7,9,11,12] # for Class_8
# ques_no_just = [3,7,13,14,15] # for Class_7
# ques_no_just = [3,5,9,10,15] # for Class_6
# ques_no_just = [3,4,11,12] # for Class_5

num_bright = 8
num_dark = 4

In [ ]:
df = pd.read_excel('class_9.xlsx', skiprows=[0])

df = df.drop(['Admission', 'ROLL', 'SECTION', "FATHER'S NAME", "GUARDIAN'S OCCUPATION", "MOTHER'S NAME", "CONTACT NO.", "Unnamed: 8"], axis=1)
# df = df.dropna(axis=1, how='all')

df = df.replace(np.nan, 'None')

df['LOGIC'] = 0
df['CONCENTRATION'] = 0
df['FOCUS'] = 0
df['COGNITIVE SKILL'] = 0
df['RETENTION POWER'] = 0
df['HARD WORKING'] = 0
df['STUDY HABIT'] = 0
df['CONSCIOUSNESS'] = 0

df['SILLY MISTAKES'] = 0
df['KNOWLEDGE GAP'] = 0
df['IMPULSIVE'] = 0
df['LEARNING GAP'] = 0

display(df)

,NAME,MCQ 1,JUSTIFICATION,MCQ 2,JUSTIFICATION.1,MCQ 3,JUSTIFICATION.2,MCQ 4,JUSTIFICATION.3,MCQ 5,...,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP
0,Anik Biswas,2,E,2,E,4,E,4,E,1,...,0,0,0,0,0,0,0,0,0,0
1,Barsha Mondal,2,E,2,E,2,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
2,Gaurob Das,2,E,2,E,4,E,3,E,3,...,0,0,0,0,0,0,0,0,0,0
3,Arpan Pal,1,C,4,E,4,A,3,A,4,...,0,0,0,0,0,0,0,0,0,0
4,Mandip Mandal,1,C,4,E,4,A,4,A,4,...,0,0,0,0,0,0,0,0,0,0
5,Jaydip Chakraborty,4,C,2,E,2,E,3,E,4,...,0,0,0,0,0,0,0,0,0,0
6,Koushik Rajbangshi,3,E,2,E,4,E,2,E,4,...,0,0,0,0,0,0,0,0,0,0
7,Daya Das,1,E,2,E,4,E,1,E,4,...,0,0,0,0,0,0,0,0,0,0
8,Soham Sarkar,1,E,2,E,4,E,2,E,4,...,0,0,0,0,0,0,0,0,0,0
9,Trisha Adhikary,2,E,2,E,4,E,1,E,4,...,0,0,0,0,0,0,0,0,0,0
10,Ankita Debnath,2,E,2,E,4,E,1,E,4,...,0,0,0,0,0,0,0,0,0,0
11,Abhijit Das,4,E,2,E,4,E,2,E,4,...,0,0,0,0,0,0,0,0,0,0
12,Dhrubo Mandal,3,E,2,E,4,E,2,E,4,...,0,0,0,0,0,0,0,0,0,0
13,Depan Biswas,3,B,1,E,2,A,3,B,3,...,0,0,0,0,0,0,0,0,0,0
14,Rayan Chakroborty,2,C,4,E,2,B,3,B,1,...,0,0,0,0,0,0,0,0,0,0
15,Maruf Mondal,2,A,4,E,2,B,3,B,1,...,0,0,0,0,0,0,0,0,0,0
16,Sabyasachi Das,2,E,2,E,2,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
17,Rudra Mondal,2,E,2,E,2,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
18,Tumpa Sarkar,2,E,2,E,2,E,3,E,3,...,0,0,0,0,0,0,0,0,0,0
19,Katha Majumder,2,E,4,E,4,E,3,A,3,...,0,0,0,0,0,0,0,0,0,0
20,Avijit Haldar,2,E,4,E,4,E,3,E,4,...,0,0,0,0,0,0,0,0,0,0
21,Aditya Mondal,4,E,2,E,4,E,3,E,2,...,0,0,0,0,0,0,0,0,0,0
22,Anindya Banerjee,2,E,2,E,2,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
23,Akash Biswas,2,E,3,E,4,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
24,Mriganko Biswas,4,E,4,E,4,E,2,E,3,...,0,0,0,0,0,0,0,0,0,0
25,Ritam Sarkar,4,E,3,E,4,E,4,E,3,...,0,0,0,0,0,0,0,0,0,0
26,Tamajit Mondal,4,E,2,E,4,E,4,E,3,...,0,0,0,0,0,0,0,0,0,0
27,Suraiya Sekh,3,E,2,E,4,E,1,E,4,...,0,0,0,0,0,0,0,0,0,0
28,Golapi Mondal,2,E,2,E,4,E,1,E,4,...,0,0,0,0,0,0,0,0,0,0
29,Mahfa Biswas,2,E,2,E,2,E,1,E,4,...,0,0,0,0,0,0,0,0,0,0
30,Satakshi Baidya,2,C,2,E,4,A,1,E,1,...,0,0,0,0,0,0,0,0,0,0
31,Soniua Murmu,2,E,2,E,2,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
32,Dwiponjono Sidhyo,2,E,2,E,2,E,1,E,1,...,0,0,0,0,0,0,0,0,0,0
33,Subhashree Das,3,B,3,E,4,A,3,E,3,...,0,0,0,0,0,0,0,0,0,0
34,Subho Shrestho,4,E,2,E,4,E,2,E,3,...,0,0,0,0,0,0,0,0,0,0
35,Mounash Poddar,2,E,4,E,4,A,1,E,4,...,0,0,0,0,0,0,0,0,0,0
36,Srikrishna Pal,3,E,2,E,4,E,3,E,4,...,0,0,0,0,0,0,0,0,0,0
37,Arick Bairagi,1,E,2,E,4,E,3,E,4,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_ = pd.read_excel('Marking_scheme.xlsx')
df_ = df_.replace(np.nan, 'None')
display(df_)

,Question Number,Option_1,Option_2,Option_3,Option_4,Unattempted
0,1,"3,3,3,3,n,n,3,3,7,7,7,7","0,0,0,0,n,n,0,0,10,10,10,10","8,8,8,8,n,n,8,8,2,2,2,2","1,1,1,1,n,n,1,1,9,9,9,9","2,2,2,2,2,2,2,2,8,8,8,8"
1,2,"8,8,8,8,n,8,8,n,2,2,2,2","0,0,0,0,n,0,0,n,10,10,10,10","3,3,3,3,n,3,3,n,7,7,7,7","1,1,1,1,n,1,1,n,9,9,9,9","2,2,2,2,2,2,2,2,8,8,8,8"
2,3,"8,n,8,8,n,8,8,8,2,n,2,2","0,n,0,0,n,0,0,0,10,n,10,10","0,n,0,0,n,0,0,0,10,n,10,10","8,n,8,8,n,8,8,8,2,n,2,2","2,2,2,2,2,2,2,2,8,8,8,8"
3,4,"0,0,0,n,0,n,0,0,10,10,n,n","8,8,8,n,8,n,8,8,2,2,n,n","5,5,5,n,5,n,5,5,7,7,n,n","2,2,2,n,2,n,2,2,8,8,n,n","2,2,2,2,2,2,2,2,8,8,8,8"
4,5,"0,0,0,n,0,n,0,0,10,10,10,n","2,2,2,n,2,n,2,2,8,8,8,n","8,8,8,n,8,n,8,8,2,2,2,n","3,3,3,n,3,n,3,3,7,7,7,n","2,2,2,2,2,2,2,2,8,8,8,8"
5,6,"n,n,n,n,8,n,8,n,n,2,n,n","n,n,n,n,0,n,0,n,n,10,n,n","n,n,n,n,0,n,0,n,n,10,n,n","n,n,n,n,0,n,0,n,n,10,n,n","2,2,2,2,2,2,2,2,8,8,8,8"
6,7,"0,0,n,0,n,n,0,0,n,10,n,n","1,1,n,1,n,n,1,1,n,9,n,n","8,8,n,8,n,n,8,8,n,2,n,n","1,1,n,1,n,n,1,1,n,9,n,n","2,2,2,2,2,2,2,2,8,8,8,8"
7,8,"8,n,8,n,8,n,8,8,n,2,n,2","3,n,3,n,3,n,3,3,n,8,n,8","0,n,0,n,0,n,0,0,n,10,n,10","1,n,1,n,1,n,1,1,n,9,n,9","2,2,2,2,2,2,2,2,8,8,8,8"
8,9,"3,3,3,3,3,3,3,3,n,7,n,7","8,8,8,8,8,8,8,8,n,2,n,2","0,0,0,0,0,0,0,0,n,10,n,10","1,1,1,1,1,1,1,1,n,9,n,9","2,2,2,2,2,2,2,2,8,8,8,8"
9,10,"1,1,1,1,1,1,1,1,1,n,9,n","1,1,1,1,1,1,1,1,1,n,9,n","8,8,8,8,8,8,8,8,n,2,n,n","0,0,0,0,0,0,0,0,n,10,n,n","2,2,2,2,2,2,2,2,8,8,8,8"
10,11,"4,4,4,4,n,n,4,n,7,7,7,7","8,8,8,8,n,n,8,n,2,2,2,2","1,1,1,1,n,n,1,n,8,8,8,8","0,0,0,0,n,n,0,n,10,10,10,10","2,2,2,2,2,2,2,2,8,8,8,8"
11,12,"n,8,n,n,8,8,8,n,2,2,2,n","n,3,n,n,3,3,3,n,7,7,7,n","n,3,n,n,3,3,3,n,7,7,7,n","n,0,n,n,0,0,0,n,10,10,10,n","2,2,2,2,2,2,2,2,8,8,8,8"

In [ ]:
# for class 10 and class 5 (BPNB), class 5 (BKBV), class 6 (BKBV), class 7 (BKBV), class 8 (BKBV), class 10 (BKBV) "ans" is small letters
def just_eval(metrics_list, ans):
  print(ans)
  if (ans == 'a'):
    for b in range(num_bright):
      if (metrics_list[b] != 'n'):
        metrics_list[b] = float(metrics_list[b]) + 2
      else:
        metrics_list[b] = 0
    for d in range(num_bright, num_bright + num_dark):
      if (metrics_list[d] != 'n'):
        metrics_list[d] = float(metrics_list[d]) - 2
      else:
        metrics_list[d] = 0

  elif (ans == 'b'):
    for b in range(num_bright):
      if (metrics_list[b] == 'n'):
        metrics_list[b] = 0
    for d in range(num_bright, num_bright + num_dark):
      if (metrics_list[d] == 'n'):
        metrics_list[d] = 0

  elif (ans == 'c'):
    for b in range(num_bright):
      if (metrics_list[b] != 'n'):
        metrics_list[b] = float(metrics_list[b]) - 2
        if metrics_list[b] < 0:
          metrics_list[b] = 0
      elif (metrics_list[b] == 'n'):
        metrics_list[b] = 0
    for d in range(num_bright, num_bright + num_dark):
      if (metrics_list[d] != 'n'):
        metrics_list[d] = float(metrics_list[d]) + 2
        if metrics_list[d] > 10:
          metrics_list[d] = 10
      elif (metrics_list[d] == 'n'):
        metrics_list[d] = 0

  elif (ans == 'd'):
    for b in range(num_bright):
        metrics_list[b] = 0
    for d in range(num_bright, num_bright + num_dark):
      if (metrics_list[d] != 'n'):
        metrics_list[d] = 10
      else:
        metrics_list[d] = 0

  elif (ans == 'e'):
    for b in range(num_bright):
      if (metrics_list[b] != 'n'):
        metrics_list[b] = float(metrics_list[b]) - 1.5
        if metrics_list[b] < 0:
          metrics_list[b] = 0
      elif (metrics_list[b] == 'n'):
        metrics_list[b] = 0
    for d in range(num_bright, num_bright + num_dark):
      if (metrics_list[d] != 'n'):
        metrics_list[d] = float(metrics_list[d]) + 2
        if (metrics_list[d] > 10):
          metrics_list[d] = 10
      elif (metrics_list[d] == 'n'):
        metrics_list[d] = 0

  return metrics_list

In [ ]:
def find_indices(list_to_check, item_to_find):
  indices = []
  for idx, value in enumerate(list_to_check):
    if value == item_to_find:
      indices.append(idx)
  return indices

In [ ]:
for s in range(df.shape[0]):

  print(s)

  divisors = [num_ques] * (num_bright + num_dark)

  for q in range(1,num_ques + 1):

    print("ques_no =", q)

    index = 2*q - 1
    print("option_selected = ", df.iloc[s,index])

    #MCQ
    if (df.iloc[s,index] != "None"):
      string_ = df_.iloc[q-1, int(df.iloc[s,index])]
      score_list = [str(item) for item in string_.split('.')]

      for index_ in find_indices(score_list, 'n'):
        divisors[index_] = divisors[index_] - 1

      print(score_list)
      if q not in ques_no_just:
        print("just_ans = ", df.iloc[s,index+1])
        score_list = just_eval(score_list, df.iloc[s, index + 1])

      if q in ques_no_just:
        for j in range(len(score_list)):
          if (score_list[j] == 'n'):
            score_list[j] = 0

      score_list  = [float(x) for x in score_list]
      print(score_list)
      for p in range(len(score_list)):
        df.iloc[s, 2*num_ques + 1 + p] = df.iloc[s, 2*num_ques + 1 + p] + score_list[p]

    #unattempted
    elif (df.iloc[s,index] == "None"):
      string__ = df_.iloc[q-1, 5]
      score_list_ = [float(item) for item in string__.split(',') if item.isdigit()]
      print(score_list_)
      for p in range(len(score_list_)):
        df.iloc[s, 2*num_ques + 1 + p] = df.iloc[s, 2*num_ques + 1 + p] + score_list_[p]

    print('----------------------')

  for tn in range(len(score_list)):
    df.iloc[s, 2*num_ques + 1 + tn] = df.iloc[s, 2*num_ques + 1 + tn] / divisors[tn]

0
ques_no = 1
option_selected =  2
['0,0,0,0,n,n,0,0,10,10,10,10']

ValueError: ignored

In [ ]:
# df.to_csv("eval_score.csv", index = False)
# index 1 to 3(exclude)
rslt_df = df.drop(df.iloc[:, 1:(num_ques*2 + 1)], axis = 1)
rslt_df = rslt_df.replace(np.nan, 0)
display(rslt_df)

,NAME,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP
0,MEDHA ACHARYA,3.187500,3.300000,3.625000,4.312500,3.222222,2.357143,4.333333,3.333333,10.000000,6.818182,6.666667,7.000000
1,SNEHA GUHA,2.687500,4.500000,3.937500,3.125000,4.611111,1.785714,5.437500,0.000000,10.000000,7.181818,4.666667,7.000000
2,None,0.833333,0.166667,0.083333,0.750000,1.666667,0.000000,1.000000,0.000000,0.000000,7.333333,0.000000,0.000000
3,ANKITA ACHAR,3.000000,2.400000,4.250000,4.000000,4.555556,2.142857,5.400000,4.333333,9.000000,6.090909,6.000000,10.000000
4,MEHOLI PAL,6.500000,5.916667,6.375000,6.937500,6.550000,5.333333,6.727273,3.250000,4.000000,3.363636,2.500000,1.333333
5,JAYEETRI SARKAR,2.000000,0.100000,2.000000,1.937500,2.166667,1.000000,3.000000,2.166667,10.000000,7.916667,10.000000,10.000000
6,ABHISIKTA SARKAR,4.125000,5.600000,4.500000,5.500000,4.777778,4.250000,6.500000,4.000000,8.500000,5.090909,6.666667,1.000000
7,RAIMA KUNDA,1.062500,0.000000,1.062500,1.062500,1.333333,1.062500,2.187500,2.125000,10.000000,8.500000,10.000000,10.000000
8,Tamanna mondal,0.750000,0.181818,0.083333,0.666667,1.583333,0.000000,1.000000,0.000000,0.000000,7.500000,0.000000,0.000000
9,Trisha Rajbanshi,1.363636,0.222222,0.909091,1.600000,2.000000,0.000000,1.454545,0.000000,1.250000,7.416667,2.222222,0.000000
10,Prithwisha Biswas,2.062500,2.000000,3.437500,3.437500,2.555556,2.187500,3.833333,4.375000,8.500000,7.545455,6.666667,10.000000
11,Srija Paul,3.625000,2.100000,4.875000,4.812500,2.888889,2.250000,3.545455,6.500000,10.000000,7.545455,5.000000,10.000000
12,Priya Saha roy,2.812500,0.100000,2.812500,2.750000,2.166667,1.928571,3.350000,4.333333,10.000000,7.416667,10.000000,10.000000
13,Ankita Biswas,4.062500,4.100000,5.312500,4.812500,5.500000,3.357143,6.450000,4.333333,8.000000,5.363636,5.333333,7.000000
14,Simran Sarkar,4.375000,1.300000,3.562500,4.375000,2.833333,3.250000,3.590909,6.500000,10.000000,6.416667,10.000000,7.000000
15,Ishita Barua,4.062500,4.100000,5.312500,4.812500,5.500000,3.357143,6.450000,4.333333,8.000000,5.363636,5.333333,7.000000
16,Nandita Shil,2.750000,0.000000,2.750000,2.750000,3.944444,1.083333,4.300000,3.250000,10.000000,6.583333,10.000000,10.000000
17,Ankita Mondal,1.937500,2.000000,3.187500,3.187500,3.222222,0.928571,3.944444,2.166667,10.000000,7.727273,6.666667,10.000000
18,Prerana Sarkar,4.375000,1.300000,3.562500,4.375000,3.944444,3.250000,4.500000,6.500000,10.000000,5.583333,10.000000,7.000000
19,Tanija Mondal,2.187500,2.750000,3.187500,2.500000,4.166667,0.928571,4.166667,0.000000,3.333333,7.363636,2.800000,5.000000
20,Sangamitra Das,4.000000,3.300000,4.000000,3.187500,3.944444,3.285714,5.000000,2.166667,10.000000,6.583333,8.000000,5.000000
21,Priyanu Gomosha,2.312500,2.900000,1.944444,1.437500,2.750000,2.187500,3.562500,0.600000,7.500000,7.583333,6.400000,2.000000
22,Nirmita Guha Roy,8.500000,7.300000,8.187500,8.750000,7.388889,8.071429,8.045455,6.666667,0.000000,1.916667,2.000000,0.000000
23,Deblina Ghosh,8.500000,7.300000,8.187500,8.750000,7.388889,8.071429,8.045455,6.666667,0.000000,1.916667,2.000000,0.000000
24,Dishita Mondal,2.875000,2.750000,4.000000,4.250000,4.650000,1.857143,5.500000,2.166667,5.000000,6.090909,5.000000,4.666667
25,Ankita Halder,5.187500,4.600000,5.625000,5.625000,4.666667,4.333333,5.000000,6.500000,10.000000,5.545455,2.000000,7.000000
26,Srijita Choudhary,4.050000,3.285714,4.200000,4.200000,5.111111,2.875000,5.600000,2.000000,2.500000,5.181818,2.333333,1.000000
27,Sham Mondal,3.562500,5.300000,3.687500,4.937500,3.277778,3.687500,4.812500,3.250000,8.500000,6.454545,6.666667,2.000000
28,Anwesha Amin,0.812500,1.300000,0.812500,0.000000,1.833333,0.812500,2.500000,0.000000,10.000000,8.666667,8.500000,10.000000
29,Mahima SK,1.888889,1.300000,1.875000,1.888889,1.888889,1.062500,1.875000,0.400000,3.333333,8.500000,3.333333,5.000000
30,Sinthia Pal,1.888889,2.142857,0.937500,1.888889,2.750000,1.444444,2.388889,0.000000,2.000000,6.833333,0.000000,1.333333
31,Saniya Dhali,0.625000,0.285714,0.333333,0.750000,2.000000,0.250000,1.300000,0.400000,4.000000,7.833333,4.000000,2.500000
32,Trisha Roy,2.062500,1.600000,2.062500,1.062500,1.833333,1.428571,1.937500,0.666667,10.000000,8.666667,7.333333,10.000000
33,Tania Dhali,2.937500,1.600000,2.937500,1.937500,1.888889,2.071429,2.722222,2.166667,10.000000,8.083333,6.000000,10.000000
34,Sowni Mondal,2.125000,1.600000,2.125000,1.125000,3.333333,2.125000,4.375000,2.250000,10.000000,6.916667,6.000000,10.000000
35,Bidisha Das,2.062500,4.700000,2.500000,3.250000,2.111111,2.062500,2.428571,0.750000,10.000000,8.636364,6.666667,7.000000
36,Swastika Bose,1.277778,0.333333,0.833333,1.277778,3.500000,0.000000,3.050000,0.000000,0.000000,6.333333,0.000000,1.666667
37,saheli Ghosh,2.750000,2.600000,1.937500,2.750000,2.833333,1.857143,3.312500,0.000000,10.000000,7.416667,10.000000,7.000000
38,Ruksha Mondal,2.062500,3.400000,2.833333,3.375000,2.000000,1.937500,2.722222,1.700000,5.000000,8.545455,3.333333,5.000000
39,Preyashi Adhikary,2.187500,1.700000,1.375000,1.937500,3.444444,1.214286,4.000000,0.000000,9.500000,6.916667,9.500000,7.000000
40,Ayantika Mondal,1.187500,1.666667,1.833333,2.562500,2.090909,0.812500,2.950000,1.083333,0.000000,8.000000,2.000000,2.500000
41,Baisakhi kundu,1.722222,2.750000,2.111111,2.833333,2.222222,0.812500,2.500000,0.000000,7.500000,8.454545,6.000000,4.666667
42,Ahana Das,1.250000,1.400000,1.375000,1.312500,3.333333,1.375000,4.000000,1.000000,9.250000,7.500000,10.000000,10.000000
43,Rashika chakraborty,3.500000,3.900000,2.812500,3.625000,5.111111,3.625000,6.562500,2.375000,8.500000,5.250000,10.000000,4.000000
44,Arpita Paul,1.875000,3.300000,3.250000,3.250000,3.277778,2.000000,4.125000,2.375000,7.000000,7.727273,5.000000,10.000000
45,Minasha Saha,0.312500,2.100000,1.687500,1.625000,2.611111,0.437500,2.928571,0.750000,9.250000,8.818182,7.500000,10.000000
46,Moumita Sharma,1.062500,1.300000,1.062500,1.062500,2.055556,1.062500,2.785714,0.500000,10.000000,8.500000,10.000000,7.000000
47,Shrija Karmakar,1.062500,1.300000,1.062500,1.062500,2.055556,1.062500,2.785714,0.500000,10.000000,8.500000,10.000000,7.000000
48,Priti Sarkar,1.187500,1.416667,1.187500,0.375000,2.650000,1.062500,2.187500,0.500000,6.666667,7.666667,4.666667,6.666667
49,Anwesha Roy,1.611111,1.214286,1.055556,1.125000,2.625000,0.944444,2.150000,0.285714,1.666667,7.000000,2.000000,0.000000
50,Aparupa podder,0.375000,0.000000,0.250000,0.250000,1.444444,0.250000,1.714286,0.400000,6.666667,8.833333,7.500000,6.666667

In [ ]:
#Use this method to noramlize using relative grading
# def normalize(values, bounds):
#     return [bounds['desired']['lower'] + (x - bounds['actual']['lower']) * (bounds['desired']['upper'] - bounds['desired']['lower']) / (bounds['actual']['upper'] - bounds['actual']['lower']) for x in values]

# trait_column_names = list(rslt_df.columns.values)
# trait_column_names.pop(0)

# for name in trait_column_names:
#   new_col = normalize(rslt_df[name].values.tolist(), {'actual': {'lower': min(rslt_df[name].values.tolist()), 'upper': max(rslt_df[name].values.tolist())}, 'desired': {'lower': 0, 'upper': 10}})
#   rslt_df[name] = new_col

In [ ]:
rslt_df.to_csv("eval_score_normalized.csv", index = False)

In [ ]:
rslt_df.describe()

,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,2.638693,2.387894,2.802112,2.924864,3.279615,2.049642,3.804668,2.149393,6.949346,6.960636,5.769717,5.803922
std,1.777009,1.854025,1.887382,1.991074,1.487025,1.734466,1.745604,2.153885,3.648595,1.570478,3.177334,3.598102
min,0.312500,0.000000,0.083333,0.000000,1.333333,0.000000,1.000000,0.000000,0.000000,1.916667,0.000000,0.000000
25%,1.320707,1.300000,1.281250,1.295139,2.073232,0.972222,2.500000,0.400000,4.000000,6.375000,3.066667,2.250000
50%,2.125000,2.000000,2.750000,2.750000,2.833333,1.857143,3.562500,2.000000,8.500000,7.416667,6.000000,7.000000
75%,3.531250,3.300000,3.812500,4.225000,4.055556,2.616071,4.906250,3.291667,10.000000,7.958333,8.250000,10.000000
max,8.500000,7.300000,8.187500,8.750000,7.388889,8.071429,8.045455,6.666667,10.000000,8.833333,10.000000,10.000000